# General Configuration
APP_ENV=development
SERVICE_NAME=user-service
JWT_SECRET=your_jwt_secret_key_here

# Global Database Configuration (Super-Admin)
POSTGRES_USER=super_admin
POSTGRES_PASSWORD=your_super_password_here
POSTGRES_DB=postgres
DB_HOST=db_kios
DB_PORT=5432
DB_SSLMODE=disable

# User Service Database Configuration
USER_DB_USER=user_dev_user
USER_DB_PASSWORD=your_user_password_here
USER_DB_NAME=db_users

# Goose Migration Configuration (User Service)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="user=user_dev_user password=your_user_password_here dbname=db_users host=db_kios port=5432 sslmode=disable"
