# --- Database & Persistence ---
postgres_data/

# --- Binaries & Executables ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
/bin/
/dist/
main
# Mengabaikan binary hasil build lokal di tiap service
user-service/user-service
common/common

# --- Environment Variables ---
.env*
!.env.example

# --- IDE & Editor ---
.vscode/
.idea/
*.swp
*.swo

# --- Operating System ---
.DS_Store
Thumbs.db

# --- Go Specific ---
# vendor/
*.test
*.out
cover.out

# Go Workspace (Disarankan untuk di-ignore agar tidak konflik antar lingkungan dev)
go.work
go.work.sum

# --- Docker ---
.docker/
